@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center; 
    margin: 10px; 
}

.logo-imagen {
    height: 50px; 
    width: auto; 
    display: block; 
}

/* Header Styles */
.header {
    background-color: rgb(12,12,12);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 10vh;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu .navbar ul li a:hover {
    color: #979797;
}


/* Icons Styles */
.icons {
    display: flex;
}

.icons i {
    font-size: 35px;
    color: aliceblue;
    margin-right: 10px;
    cursor: pointer;
}

.icons i:hover {
    color: rgb(94, 92, 92);
}

/*login2.0*/
.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-login{
    position: absolute;
    z-index: 2;
    width: 260px;
    background-color: #fcfcfc;
    top: 100px;
    right: 15px;
    border-radius: 20px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.active{
    visibility: visible;
    opacity: 1;
}

.menu-login::before{
    content: "";
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 35px;
    rotate: 45deg;

}

.menu-login h3{
    font-size: 1.4rem;
    text-align: center;
    margin: 18px 0 5px;
    color: #000;
}

.menu-login p{
    font-size: 1rem;
    text-align: center;
    color: #3d2d2d;
    margin-bottom: 10px;
}

.menu-login ul{
    margin-bottom: 20px;
}

.menu-login ul li{
    padding: 10px 25px;
    background: #ffffff;
    transition: 0.5s;
}

.menu-login ul li:hover{
    background: #e4e4e4;
}

.menu-login ul li i{
    font-size: 1.3rem;
    color: #000000;
    transition: 0.5s;
}

.menu-login ul li:hover i{
    color: #ffffff;
}

.menu-login ul li a{
    font-size: 1.3rem;
    color: #555050;
    margin-left: 20px;
}

/* Search Styles */

.search{
    width: 100%;
    max-width: 200px;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fcfcfc;
    border-radius: 2rem;
    transition: 0.3s;
}

.search i{
    font-size: 20px;
    color: #000000;
}

.search input{
    width: 100%;
    font-size: 1rem;
    color: #000000;
    outline: none;
    border: none;
}

.search input::placeholder{
    color: #000000;
}

.search span{
    font-size: 1.5rem;
    color: #000000;
}


/* Menu Icon */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*Carrusel Style*/

.posicion{
    display: flex;
    justify-content: center;
    padding: 20px; 
}

.container-carousel {
    position: relative;
    width: 800px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 400%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/* Contenedor principal del grid */

.position-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Contenedor principal del grid */
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columns for responsive design */
    max-width: 1200px;
    width: 100%; /* Ensure the container spans the full width */
    padding: 10px;
}

/* Estilo del Contenedor Principal */
.gig-card {
    background-color: #1e1e1e; /* Fondo oscuro del contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    text-align: center;
}

/* Estilo del Contenedor de Imagen/Video */
.media .slider {
    border-radius: 10px;
    overflow: hidden; /* Oculta cualquier desbordamiento */
    margin-bottom: 20px;
}

/* Estilo del Video */
.gig-video {
    width: 100%;
    height: auto;
}

/* Estilo de la Información del Vendedor */
.seller-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo de la Imagen de Perfil */
.profile-pic img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Detalles del Vendedor */
.seller-details {
    text-align: left;
}

.text-normal {
    color: #bbb; /* Color de texto normal */
}

.text-bold {
    font-weight: bold;
    color: #fff; /* Texto en negrita blanco */
}

.badge {
    background-color: #ff9800;
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 5px;
}

/* Estilo del Título del Servicio */
.service-title {
    text-decoration: none;
    color: #fff;
}

.service-title h3 {
    font-size: 1.2em;
    margin: 15px 0;
}

/* Estilo de Calificación y Precio */
.gig-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.rating .stars {
    color: #ff9800;
}

.price {
    font-size: 1.1em;
    color: #fff;
}


/* Estilo del Botón de Agregar al Carrito */
.btn-agregar-carrito {
    background-color: #584529;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.btn-agregar-carrito:hover {
    background-color: #e68900;
}

/* Carrito Flotante */
.carrito {
    margin-right: 0px; opacity: 0;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-height: 450px;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.4s ease, right 0.3s ease;
    z-index: 1000;
    transition: opacity 0.4s ease;
}

/* Mostrar el carrito con transición */
.carrito.visible {
    opacity: 1;
    right: 20px;
}

/* Cabecera del Carrito */
.carrito .header-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

.carrito .header-carrito h2 {
    font-size: 1.4em;
    font-weight: bold;
}

/* Elementos del Carrito */
.carrito-items {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carrito-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.carrito-item-detalles {
    flex-grow: 1;
}

.carrito-item-titulo {
    font-weight: bold;
    margin-bottom: 5px;
}

.carrito-item-precio {
    color: #ff9800;
    font-size: 1.1em;
}

/* Botón de Eliminar */
.btn-eliminar {
    background: none;
    border: none;
    color: #ff6347;
    cursor: pointer;
    font-size: 1.2em;
}

.btn-eliminar:hover {
    color: #ff0000;
}

/* Total */
.carrito-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    border-top: 2px solid #444;
    padding-top: 15px;
}

.carrito-precio-total {
    color: #ff9800;
}

/* Botón de Pagar */
.btn-pagar {
    width: 100%;
    padding: 12px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-pagar:hover {
    background-color: #e68900;
}



/* Responsive Styles */
@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        backdrop-filter: blur(5px);
        display: none;
    }

    .menu .search{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        backdrop-filter: blur(5px);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .login{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        backdrop-filter: blur(5px);
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .icons {
        display: none;
    }

    .header {
        padding: 50px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .header-txt h1 {
        margin-bottom: 10px;
    }

    .images {
        position: initial;
        width: 300px;
        height: 300px;
    }

    .rows {
        display: none;
    }
}